extends ../layout

block breadcrumb
    nav
        ol.breadcrumb
            li.breadcrumb-item
                a( href="/home" )
                    | Home
            li.breadcrumb-item.active
                | Edit Profile

block content

    h1.display-4 Edit Profile
    
    form( action="/profile/edit" method="post" )
        
        .form-group
            label( for="display_name" ) Display Name
            input(
                id="display_name"
                name="display_name"
                type="text"
                class="form-control"
                value=user.display_name
            )
            small.form-text.text-muted
                | How you prefer to be addressed

        .form-group
            label( for="postcode" ) Postcode
            input(
                id="postcode"
                name="postcode"
                type="text"
                class="form-control"
                value=user.postcode
            )
            small.form-text.text-muted
                | Used to calculate distance to a potential workplace

        button.btn.btn-primary( type="submit" )
            | Update Profile

        a.btn.btn-secondary.ml-3( href="/home" )
            | Cancel