extends layout

block content
    .jumbotron
        h1.display-4= title
        p.lead #{intro}
        hr
        p #{explanation}
        a(
            href="/auth/github"
            class="btn btn-primary btn-large btn-dark login"
        )
            img(
                src="/images/GitHub-Mark-Light-32px.png"
            )
            span #{cta_text}