doctype html
html
  head
    meta( charset=utf-8 )
    meta( name="viewport" content="width=device-width,initial-scale=1" )
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"
    )
    link( 
        rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css"
    )
  body
    .container

        block nav
            .navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light
                .group
                    a.navbar-brand.float-left( href="/home" )
                        | Bristol Tech Jobs
                    h5.my-2.float-left
                        span.badge.badge-danger
                            | BETA - not real data
                a.navbar.float-right.p-0.my-2( href="/logout" )
                    span.oi.oi-account-logout.mr-2( title="account logout" )
                    | Logout            


        block breadcrumb

        block content
