extends ../layout

block breadcrumb
    nav
        ol.breadcrumb
            li.breadcrumb-item
                a( href="/home" )
                    | Home
            if breadcrumb_style === 'company_search'
                li.breadcrumb-item
                    a( href="/company/search/" )
                        | Companies
                li.breadcrumb-item
                    a( href="/company/view/" + company._id )
                        | #{company.name}
            if breadcrumb_style !== 'tech_search'
                li.breadcrumb-item
                    | Jobs
            if breadcrumb_style === 'tech_search'
                li.breadcrumb-item
                    a( href="/job/search/" )
                        | Jobs
                li.breadcrumb-item
                    | #{technology}

block content

    h1.display-4 #{title}

    each job, index in jobs
        a.card.p-3.mb-3.list-card( href='/job/view/' + job._id )
            h5 #{job.title}
            h6 at #{job.company_name}
