extends ../layout

block content

    h1.display-4 Home
    h3 Hi, #{user.name}

    .card.mr-3.mb-3
        .card-body
            h5.card-title
                | Profile
            p.card-text
                | Update your user profile, add skills and experience
            p.card-text    
                a(
                    href="/profile/edit"
                    class="btn btn-secondary"
                )
                    | Update profile

    .card.mr-3.mb-3
        .card-body
            h5.card-title
                | Jobs
            p.card-text
                | Search posted jobs or create a new job post
            p.card-text    
                a(
                    href="/jobs/search"
                    class="btn btn-secondary mr-3"
                )
                    | Search
                a(
                    href="/jobs/edit"
                    class="btn btn-secondary mr-3"
                )
                    | Create

    .card.mr-3.mb-3
        .card-body
            h5.card-title
                | Company
            p.card-text
                | Search local companies, create a new one or edit your own
            p.card-text    
                a(
                    href="/company/search"
                    class="btn btn-secondary mr-3"
                )
                    | Search
                a(
                    href="/company/edit"
                    class="btn btn-secondary mr-3"
                )
                    | Create
                if user.company_id && user.company_name
                    a(
                        href="/company/edit/#{user.company_id}"
                        class="btn btn-secondary mr-3"
                    )
                        | Edit #{user.company_name}

