extends ../layout

block content

    h5.display-5 Hi, 
        if user.display_name
            | #{user.display_name}
        else if user.gh_name
            | #{user.gh_name}
        else
            | #{user.gh_login}


    .card.mr-3.mb-3
        .card-body
            h5.card-title
                | Profile
            p.card-text
                | Update your user profile, add skills and experience.
            p.card-text    
                a(
                    href="/profile/edit"
                    class="btn btn-secondary"
                )
                    | Update profile

    .card.mr-3.mb-3
        .card-body
            h5.card-title
                | Jobs
            p.card-text
                | #{jobs_intro}
            p.card-text    
                a(
                    href="/job/search"
                    class="btn btn-secondary mr-3"
                )
                    | Search
                if has_company
                    a(
                        href="/job/new"
                        class="btn btn-secondary mr-3"
                    )
                        | Post a job at #{company.name}

    .card.mr-3.mb-3
        .card-body
            h5.card-title
                | Company
            p.card-text
                | #{companies_intro}
            p.card-text    
                a(
                    href="/company/search"
                    class="btn btn-secondary mr-3"
                )
                    | Search
                if !has_company
                    a(
                        href="/company/new"
                        class="btn btn-secondary mr-3"
                    )
                        | Create
                if has_company
                    a(
                        href="/company/edit/"
                        class="btn btn-secondary mr-3"
                    )
                        | Edit #{company.name}

