extends ../layout

block breadcrumb
    nav.m-3
        ol.breadcrumb
            li.breadcrumb-item
                a( href="/home" )
                    | Home
            li.breadcrumb-item
                a( href="/company/search/" )
                    | Companies
            li.breadcrumb-item.active
                | #{company.name}

block content

    .card.p-3.mt-3.mb-3
        h1 #{company.name}

        h4 Website
        p
            a( href=company.website )
                | #{company.website}

        h4 Address
        p
            address
                | #{company.street_address}
                br            
                | #{company.city}
                br            
                | #{company.postcode}
        
        h4 Approximate Size
        p
            | #{company.size} employees   

        h4 Available Jobs
        p
            a( href="/job/search/company/" + company._id )
                | View all available jobs at #{company.name}

    if editable
        .card.p-3
            h4.card-title Administration
            p.card-text
                | You are an employee of this company so you can edit it.
            .d-inline
                a.btn.btn-secondary( href="/company/edit/" )
                    | Edit company profile
